<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>欢迎登录，welcome！</title>
</head>
<body>
	<div>
		<div><a href="#" th:href="@{/index}">返回欢迎页面</a></div>
		<div><a href="#" th:href="@{/register}">返回欢迎页面</a></div>
		<form action="/login" method="post" role="form" class="col-xs-3" style="clear: both;
			position: absolute;
			text-align: center;
			right: 13.8%;
			top: 46.8%;">
		  <div class="form-group">
		    <!-- <label for="name">姓名</label> -->
		    <input type="text" class="form-control" th:value="username" placeholder="用户名">
			<p class="help-inline"></p>
		  </div>
		  <div class="form-group">
		    <!-- <label for="inputfile">密码</label> -->
		    <input type="password" class="form-control" th:value="password" placeholder="密&nbsp;&nbsp;码">
		    <p class="help-inline"></p>
		  </div>
		  <button type="submit" class="btn btn-default" style="color: #fff;margin-top:6px; padding: 6px 30px;background-color: orange;">登录</button>
		  <p style="font-size: 0.55rem;margin:10px; float: right;"><a href="/register">忘记密码</a></p>
			<p th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
		</form>
	</div>
</body>
</html>